/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-1: #000000;
    --color-2: #8B0000;
    --color-3: #2F4F4F;
    --color-4: #F8F8FF;
    --color-5: #3CB371;
    --color-6: #4B0082;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: var(--color-1); */
}

main {
    transition: 0.8s;
    background: #000522;
}

main section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

main section:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #000522, transparent);
    z-index: 3;
}

main section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

main section .personaje {
    top: 40%;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: 1;
    /* blur */
    filter: blur(1px);
}

main section #text {
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 10vw;
}

main .sec {
    position: relative;
    min-height: 500px;
    padding: 100px;
}

main .sec .content {
    position: relative;
    z-index: 2;
}

main .sec .content h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #20496a;
}

main .sec .content p {
    font-size: 1.2em;
    color: #f5f7f8;
}

main #rayo1{
    /* transparencia */
    opacity: 0.5;
}
main #rayo2{
    /* transparencia */
    opacity: 0.5;
}

.content {
    margin-bottom: 30px;
}

.content ul li {
    margin-bottom: 20px;
}
.icon-text {
    display: flex;
}

.icon-text i {
    margin-right: 10px;
}

.icon-text p {
    margin: 0;
}

/* seccion descarga */

.download-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-container img {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

.text-container {
    margin-left: 20px;
}

.download-link {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

/* #pata backgroud image */
#pata {
    background-image: url(src/assets/img/landing/pie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
}

#foot {
    width: 100%;
   
} 


/* Estilo para pantallas grandes */
@media screen and (min-width: 923px) {
    main section #text {
        text-align: end;
        position: relative;
        color: #fff;
        font-size: 10vw;
    }
}



/* dispositivos moviles */
@media screen and (max-width: 768px) {
    main section #text {
        text-align: center;
        position: relative;
        color: #fff;
        font-size: 10vw;
    }
    main .sec {
        padding: 50px;
    }
    main .sec .content h2 {
        font-size: 2em;
    }
    main .sec .content p {
        font-size: 1em;
    }
}