/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #000000;
  --color-2: #8B0000;
  --color-3: #2F4F4F;
  --color-4: #F8F8FF;
  --color-5: #3CB371;
  --color-6: #4B0082;
}


body{
  background-color: var(--color-1);
}

h3{
  color: var(--color-5);
}

.download-link {
    text-decoration: none;
    color: var(--color-2);
    border: 2px solid #000;
    padding: 10px 20px;
    display: inline-block; 
    transition: background-color 0.3s, color 0.3s;
}

.download-link:hover {
    background-color: #000; 
    color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.titleHero{
  color: #fff;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
  /* text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); */
  text-shadow: 
  1px 1px 2px rgba(0, 0, 0, 0.7), 
  2px 2px 4px rgba(0, 0, 0, 0.7);
}

.subtitleHero{
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
  /* text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); */
  text-shadow: 
  1px 1px 2px rgba(0, 0, 0, 0.7), 
  2px 2px 4px rgba(0, 0, 0, 0.7);
}

#recommended-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

}

.card img {
  max-width: 200px;
  /* height: auto; */
}

.card {
  width: 200px;
  height: auto;
  transition: all 0.2s;
  /* position: relative; */
  cursor: pointer;
  margin: 15px 10px;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 50px;
  height: 50px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}